html {
    font-size: 28px;
    /* background-color: rgb(235, 218, 144); */
}
body {
    background-image: url(./images/him3ff1fcj131.jpg);
    background-repeat: repeat;
}

.megawrapper {
    width: 800px;
    background-color: rgb(247, 207, 181);
    margin: auto;
}

.superwrapper {
    width: 750px;
    margin: auto;
}
.h1-decoration {
    color: rgb(228, 228, 228);
    background-color: rgb(240, 156, 170);
    font-size: 2.5em;
}

.h2-decoration {
    color: rgb(252, 9, 252);
    font-weight: bold;
    font-size: 1.8em;
    background-color: rgb(224, 223, 223);
}

.p-pink {
    background-color: rgb(252, 9, 252);
    font-size: 0.9rem;
}

.yellow-background {
    background-color: rgb(250, 250, 82);
    font-size: 1rem;

}

.list-blue {
    background-color: rgb(64, 224, 208);
    text-align: left;
}

/* unvisited link. Applies to all*/
a {
    color: rgb(39, 51, 218);
  }

/* visited link . Applies to all*/
a:visited {
    color: rgb(128, 0, 79);
  }
  
  /* mouse over link. Applies to all*/
a:hover {
    color: rgb(245, 245, 245);
    font-weight: bold;
    background-color: salmon;
  }
  
  /* selected link. Applies to all*/
a:active {
    color: rgb(255, 136, 0);
  }
 
   /* unvisited link. Exception*/
a.link-turquoise {
    color: rgb(190, 49, 49);
}
  /* unvisited link. EXception*/
a.link-color {
    color: rgb(255, 0, 212);
    text-decoration: none;
}

a.link-color:hover {
    color: rgb(240, 156, 170);
    background-color: initial;
    text-decoration: none;
}

a.list-blue:active {
    color: rgb(255, 136, 0);
}

.yellow-background:hover {
    background-color: rgb(136, 235, 55);
}

.contact-style {
    width: 600px;
    margin: auto;
    margin-top: 300px;
    background-color: rgb(211, 250, 247);
    text-align: center;
}